<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
   <div class="container">
     <div ng-controller="LunchController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input type="text"
             placeholder="spaghetti,ham,taco"
             class="form-control" ng-model="lunchEnter">
         </div>
         <div class="form-group">
             <button ng-click='checkLunch()' class="btn btn-default">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{lunchText}}
         </div>
       </div>
   </div>

</body>
</html>
